body {
    background: url("images/paws.gif");
}



 .brand-logo{
  width: 250px;
  float: left;
  text-align: center;
  line-height: 70px;
  font-weight: 700;
  font-size: 30px;
 }  

nav a {
  margin-right: 20px;
  height: 90px;
  float: right;
  text-align: center;
  line-height: 90px;
  font-weight: 400;
  font-size: 25px;
}

h4 {
  color: yellow darken-2;
}

.side-nav li a {
  float: none;
  width: 100%;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 5% 15%;
}

.card {

    flex: 0 1 45%;
}

.text-contant {
  text-align: center;
  background:  #fff8e1;
}




.petInfo {
  margin: 2% auto;
}


.container .aboutUs {
  width: 70%;
  text-align: center;
  margin-top: 20px;
}


td {
  padding: 5px;
  text-align: center;
}

.dogDataName {
width: 90%;
}

#lostDog {
  width: 15%;
}

.importImg {
  width: 100%;
}

.container .abousUs p {
    position: center;  
}

.lostDogImage {
  height: 100% !important; 
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border:none !important;
}